.random-chart {
    display: flex;
    width: 100%;
    max-width: 640px;
    flex-direction: column;
    align-items: center;

    > ._title {
        font-family: Michroma, Arial, sans-serif;
        font-size: 24px;
    }

    > ._chart {
        box-sizing: content-box;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
    }

    &__hover-label {
        position: absolute;
        background: rgba(255, 255, 255, 0.9);
        color: #444;
        padding: 0px 10px 3px; // vertical alignment nudge
        border-radius: 5px;
        font-family: Michroma, Arial, sans-serif;
        font-size: 20px;
        transform: translate(-50%, -100%) translate(0, -8px);

        > ._arrow {
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid rgba(255, 255, 255, 0.9);
        }
    }
}

.demo-stage {
    display: flex;
    flex-direction: column;

    > ._prelude {
        margin: auto;
        padding: 40px; // generous padding to help taps/clicks
        font-family: Michroma, Arial, sans-serif;
        font-size: 24px;
        cursor: pointer;
    }

    > ._carousel {
        height: 520px;

        @media (max-width: 420px) {
            height: 320px;
        }
    }

    &__carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    > ._nav {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        > button {
            display: flex;
            justify-content: center;
            width: 80px;
            margin: 10px 10px; // extra vertical space for wobble to not get cut off
            padding: 15px 0;
            background: rgba(0, 0, 0, 0.2);
            border: 0;
            border-radius: 3px;
            outline: 0; // @todo a11y
            color: #fff;
            font-family: Michroma, Arial, sans-serif;
            font-size: 24px;
            cursor: pointer;

            &[data-forward="false"] {
                transform-origin: 120% 50%;
            }

            &[data-forward="true"] {
                transform-origin: -20% 50%;
            }

            &[data-bounded="true"] {
                opacity: 0.3;
            }
        }
    }

    > ._footer {
        display: flex;
        margin: 60px auto 0;
        width: 100%;
        max-width: 640px;
        justify-content: space-between;
        align-items: flex-start;
        font-family: Courier New, mono;
        font-size: 18px;
        letter-spacing: -1px;

        padding: 3px 0;
        background: rgba(0, 0, 0, 0.15);

        @media (max-width: 720px) {
            flex-direction: column;
        }

        > a {
            margin: 3px 10px;
            color: #fff;
            opacity: 0.6;
            outline: none; // @todo this breaks accessibility
            text-decoration: none;

            &:last-child {
                font-weight: bold;
            }
        }
    }
}
